<a href="https://colab.research.google.com/github/Yamuna943/internship/blob/master/internship4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas
pandas.__version__

'0.24.2'

In [0]:
import pandas as pd
pd?

In [0]:
import numpy as np
import pandas as pd

In [0]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

A Pandas Series is a one-dimensional array of indexed data.It can be created from a list or array as follows:

In [0]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [0]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [0]:
data=pd.Series([0.1,0.2,0.3,0.4],index=['a','b','c','d'])
data

a    0.1
b    0.2
c    0.3
d    0.4
dtype: float64

In [0]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

dictionaries in PANDAS

In [0]:
population['California']

38332521

In [0]:
population['California':'Illinois']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

Slicing in PANDAS

In [0]:
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

data can be a list or NumPy array, in which case index defaults to an integer sequence:

In [0]:
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

data can be a scalar, which is repeated to fill the specified index:

In [0]:
pd.Series({2:'a', 1:'b', 3:'c'})

2    a
1    b
3    c
dtype: object

data can be a dictionary, in which index defaults to the sorted dictionary keys:

In [0]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2])

In each case, the index can be explicitly set if a different result is preferred:

In [0]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [0]:
states = pd.DataFrame({'population': population,
                       'area': area})
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [0]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

Like the Series object, the DataFrame has an index attribute that gives access to the index labels

In [0]:
states.columns

Index(['population', 'area'], dtype='object')

Additionally, the DataFrame has a columns attribute, which is an Index object holding the column labels:

In [0]:
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

In [0]:
data = [{'a': i, 'b': 2 * i}
        for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [0]:
pd.DataFrame(np.random.rand(3, 2),
             columns=['foo', 'bar'],
             index=['a', 'b', 'c'])

        foo       bar
a  0.440515  0.978562
b  0.290925  0.680003
c  0.866134  0.615550

DataFrame with any specified column and index names. If omitted, an integer index will be used for each:

In [0]:
pd.DataFrame({'population': population,
              'area': area})

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

 a DataFrame can be constructed from a dictionary of Series objects as well:

In [0]:
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [0]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

A Pandas DataFrame operates much like a structured array, and can be created directly from one:

In [0]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [0]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

In [0]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

In [0]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [0]:
indA & indB

Int64Index([3, 5, 7], dtype='int64')

Intersection

In [0]:
indA | indB

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

Union

In [0]:
indA ^ indB

Int64Index([1, 2, 9, 11], dtype='int64')

Symmetric Difference

In [0]:
!curl -O https://raw.githubusercontent.com/jakevdp/data-USstates/master/state-population.csv
# !curl -O https://raw.githubusercontent.com/jakevdp/data-USstates/master/state-areas.csv
# !curl -O https://raw.githubusercontent.com/jakevdp/data-USstates/master/state-abbrevs.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 57935  100 57935    0     0   942k      0 --:--:-- --:--:-- --:--:--  958k

In [0]:
from google.colab import drive
drive.mount('/content/drive')

In [0]:
!curl -O https://raw.githubusercontent.com/jakevdp/data-USstates/master/state-population.csv
# !curl -O https://raw.githubusercontent.com/jakevdp/data-USstates/master/state-areas.csv
# !curl -O https://raw.githubusercontent.com/jakevdp/data-USstates/master/state-abbrevs.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 57935  100 57935    0     0   857k      0 --:--:-- --:--:-- --:--:--  857k